.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #da8a8a;
}

table {
  color: rgb(229, 233, 13);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #12c5c5;
}

tr:nth-child(2n) {
    background: #0868d6;
}

tr:nth-child(2n+3) {
      background: #09df2c
}

.header-row {
    background: #5c14cf;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}